#file_upload_notification {
    div > div {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;

        label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            position: relative;

            span {
                display: inline-block;
                min-width: 200px;
                padding: 8px 0px;
            }

            input {
                min-width: 300px;
            }

            div#connection_common_key {
                min-width: 300px;
            }

            div#destination_server_msg {
                margin-left: 10px;
                color: red;
            }

            div#destination_port_msg {
                margin-left: 10px;
                color: red;
            }

            div#notification_interval_msg {
                margin-left: 10px;
                color: red;
            }

            div#connection_common_key_msg {
                margin-left: 10px;
                color: red;
            }
        }

        input {
            width: 150px;
        }

        input#create_connection_common_key {
            width: 250px;
        }
    }
}